@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Inicio Generales */
body {
  font-family: "Roboto", "sans-serif", "Poppins";
  background-color: #000000;
}
.z-index-1 {
  z-index: 1;
}
.margin-generico {
  margin: 0 17px;
}
.imagenProductos {
  height: 17rem;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  object-fit: cover;
}

.text-white {
  color: #ffffff;
}

/* unvisited link */
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

/* unvisited link */
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

/*Fin Generales*/

/* Inicio Navbar */

.navbar {
  background-color: #000000;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding-bottom: 0.2rem;
}

.hidden {
  display: none;
}

.menu-btn {
  cursor: pointer;
  width: 1.4rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu-btn > div {
  height: 2px;
  background-color: #ffffff;
  transition: 0.5s;
  z-index: 999;
  border-radius: 10px;
}

#menuToggle:checked ~ .menu-btn > div {
  background-color: #fff;
}

#menuToggle:checked ~ .menu-btn > div:nth-child(1) {
  transform: translateY(7.3px) rotate(45deg);
}
#menuToggle:checked ~ .menu-btn > div:nth-child(2) {
  opacity: 0;
}
#menuToggle:checked ~ .menu-btn > div:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.nav-container {
  top: 0;
  left: -70vw;
  width: 70vw;
  height: 100%;
  background: #000000;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  z-index: 99;
}

#menuToggle {
  display: none;
}

#menuToggle:checked ~ .nav-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
}

.nav-tabs {
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
  width: 100%;
  color: #ffffff;
  padding-left: 0;
}

.nav-tab {
  list-style: none;
}

.nav-tab:not(:last-child) {
  margin: 0;
  border-right: unset;
  border-bottom: 1px solid #f5f5f5;
}

.nav-tab:hover .summary-chevron-up,
.nav-tab ul li.submenu:hover .summary-chevron-up-submenu {
  -webkit-animation: rotate-arrow 0.3s ease-in-out both;
  animation: rotate-arrow 0.3s ease-in-out both;
}

.nav-tab.submenu ul,
.nav-tab.submenu ul > .nav-tab.submenu ul {
  position: relative;
  text-align: left;
  opacity: 0;
  transition: all 300ms ease-in;
  display: none;
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0px 10px 30px 0px #0000001a;
  background-color: #000000;
  color: #ffffff;
}

.nav-tab.submenu:hover ul,
.nav-tab.submenu:hover ul > .nav-tab.submenu:hover ul {
  display: block;
  opacity: 1;
  top: 100%;
  color: #ffffff;
}

.nav-tab.submenu:hover ul {
  background-color: #1e1e1d;
}

.nav-tab.submenu:hover ul > .nav-tab.submenu:hover ul {
  background-color: #272625;
}

.nav-tab.submenu:hover ul li,
.nav-tab.submenu:hover ul > .nav-tab.submenu:hover ul li {
  border-bottom: 1px solid #f76c11;
}

/* Fin Navbar */

/* Inicio Header */
.producto-shadow-naranja,.producto-shadow-violeta {
  z-index: -1;
  position: relative;
  width: 10rem;
  top: 4rem;
  right: 6rem;
  border-radius: 100%;
  box-shadow: 1rem 1rem 10rem 8rem rgba(255, 141, 41, 0.6);
}
.producto-shadow-violeta{
  box-shadow: 1rem 1rem 10rem 8rem rgba(84, 22, 144, 0.6);
  top: 12rem;
  right: -17rem;
}
.logotipo-header {
  width: 15rem;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-shadow-naranja,
.header-shadow-violeta {
  z-index: -1;
  position: relative;
  width: 10rem;
  top: 7rem;
  right: 15rem;
  border-radius: 100%;
  box-shadow: 1rem 1rem 10rem 8rem rgba(255, 141, 41, 0.6);
}
.header-shadow-violeta {
  top: 13rem;
  right: -13rem;
  box-shadow: 1rem 1rem 10rem 8rem rgba(84, 22, 144, 0.6);
}
.header-h2 {
  font-weight: light;
  margin: 2rem 0;
}
.header-h2__span {
  font-weight: bold;
}
.parrafo-header {
  font-weight: 300;
}

.borde-gradient {
  --b: 5px;
  color: #313149;
  display: inline-block;
  width: 15rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  border-radius: 100%;
}
.borde-gradient:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--c, linear-gradient(to right, orange, #541c74));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.borde-tienda {
  height: 3rem;
  --b: 2px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.borde-tienda:before {
  border-radius: 50px;
  height: 3rem;
}

.borde-tienda svg {
  height: 25px;
}

.borde-tienda span {
  color: #ffffff;
}

.borde-wpp {
  background-color: black;
  --b: 2px;
  width: 3.4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  z-index: 99;
}
.borde-wpp::before {
  height: 3.4rem;
  border-radius: 50%;
}
/* Fin Header */

/* Inicio Tienda Online */

#tienda-online {
  width: 100%;
  padding: 5%;
}

.tienda-online-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tienda-online-heading span {
  font-size: 2.5em;
  text-align: center;
}

.tienda-online-subheading {
  text-align: center;
}

.tienda-online-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px 16px;
  width: 50vw;
  height: 40px;
  color: #ffffff;
  border: 0px solid #000000;
  background: #979797;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.tienda-online-arrow {
  animation: arrowanimation 0.55s infinite alternate ease-in-out;
}

@keyframes arrowanimation {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(1em);
    opacity: 1;
  }
}

/* Fin tienda Online*/

/* Inicio Categorias */
.productos-destacado-background {
  background-color: #1c1c1d;
  height: 100%;
}
.productos-descripcion {
  font-size: 0.875rem;
}
.categorias-titulo {
  margin-bottom: 0.688rem;
}
.slides,
.slides-productos {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}
.slides > img {
  scroll-snap-align: start;
}
.slides img {
  width: 8rem;
  object-fit: contain;
}
.slides::-webkit-scrollbar,
.slides-productos::-webkit-scrollbar {
  display: none;
}

.slides .categoria h3 {
  font-size: 14px;
}

.categoria {
  background-color: #111110;
  border-radius: 0.5rem;
  height: 9rem;
}
.border-img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.categorias-shadow-naranja,
.categorias-shadow-violeta {
  z-index: -1;
  position: relative;
  width: 10rem;
  top: 7rem;
  right: 12rem;
  border-radius: 100%;
  box-shadow: 1rem 1rem 10rem 8rem rgba(255, 141, 41, 0.6);
}
.categorias-shadow-violeta {
  top: 13rem;
  right: -19rem;
  box-shadow: 1rem 1rem 10rem 8rem rgba(84, 22, 144, 0.6);
}
/* Fin Categorias */
/*Productos*/
.descuentos {
  background-color: rgba(255, 141, 41, 0.267);
  margin: 0.5rem 0;
}
.hidrogel-imagen {
  width: 100%;
  height: 15rem;
}
.hidrogel-text {
  margin-top: 1rem;
}
/* Fin Productos */

/* Inicio Sobre Fenox */
.somos-nosotros p {
  color: #ffffff;
  font-weight: light;
  font-style: italic;
}
/* Fin Sobre Fenox */

details {
  font-size: 1rem;
  margin: 1em auto;
  position: relative;
}

details .summary-title {
  user-select: none;
}

details:hover {
  cursor: pointer;
}

.summary-content {
  cursor: default;
  padding: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

summary {
  height: 56px;
  border-radius: 50px;
  background-color: #7934bc;
  list-style: none;
  padding: 18px 18px 18px 36px;
  display: flex;
  align-items: center;
}

summary:focus {
  outline: none;
}
.imagen-producto-responsive{
  width: 100%;
}
.summary-chevron-up,
.summary-chevron-up-submenu {
  pointer-events: none;
  position: absolute;
  top: 28px;
  right: 2em;
}

details[open] .summary-chevron-up {
  -webkit-animation: rotate-arrow 0.3s ease-in-out both;
  animation: rotate-arrow 0.3s ease-in-out both;
}

@-webkit-keyframes rotate-arrow {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

details:not([open]) .summary-chevron-up {
  -webkit-animation: rotate-arrow-1 0.3s ease-in-out both;
  animation: rotate-arrow-1 0.3s ease-in-out both;
}

@-webkit-keyframes rotate-arrow-1 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.summary-chevron-up svg,
.summary-chevron-up-submenu svg {
  display: block;
  color: #ffffff;
}

summary::-webkit-details-marker {
  display: none;
}
.producto-destacado-background {
  background-color: #1c1c1d;
  height: 23rem;
}
.desktop-photo {
  position: absolute;
  right: 0;
  visibility: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn-footer{
    margin-right: 6rem;
  }
  .descripcion{
    min-width: 70%;
  }
  .producto-shadow-naranja{
    z-index: -1;
    position: relative;
    width: 10rem;
    top: 10rem;
    right: -5rem;
    border-radius: 100%;
    box-shadow: 1rem 1rem 10rem 11rem rgb(255 141 41 / 60%);
  }
  .producto-shadow-violeta{
    left: 40rem;
    top: 24rem;
  }
  .descuentos-responsive {
    height: 9rem;
    margin: 0 0.8rem;
  }
  .descuentos {
    margin: 0 0.3rem;
    padding: 0;
    border-radius: 0.5rem;
  }
  .descuentos img {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .hidrogel-imagen {
    width: 33%;
    height: 100%;
  }
  .hidrogel-text {
    font-size: 1.4rem;
  }
  .imagen-producto-responsive{
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .imagen-producto-responsive{
    width: 50%;
  }
  .btn-footer{
    margin-right: 6rem;
  }
  .descripcion{
    width: 80%;
  }
  .producto-shadow-naranja{
    z-index: -1;
    position: relative;
    width: 10rem;
    top: 10rem;
    right: -5rem;
    border-radius: 100%;
    box-shadow: 1rem 1rem 10rem 11rem rgb(255 141 41 / 60%);
  }
  .producto-shadow-violeta{
    left: 64rem;
    top: 24rem;
  }
  .header {
    flex-direction: row;
    padding: 0;
  }
  .btn-tienda,
  .tienda-online-arrow {
    visibility: hidden;
  }
  #tienda-online {
    padding: 5% 0;
  }
  .header-shadow-naranja {
    top: -6rem;
    right: -8rem;
  }
  .header-shadow-violeta {
    top: 8rem;
    right: -31rem;
  }
  .categorias-shadow-naranja {
    right: -68rem;
  }
  .descuentos-responsive {
    height: 9rem;
    margin: 0 0.8rem;
  }
  .descuentos {
    margin: 0 0.3rem;
    padding: 0;
  }
  .descuentos img {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .hidrogel-imagen {
    width: 33%;
    height: 100%;
  }
  .hidrogel-text {
    font-size: 1.4rem;
  }
  .productos-destacado-background {
    justify-self: stretch;
    transition: all 0.3s;
  }
  .productos-destacado-background:hover {
    transform: scale(1.05);
  }
  .slides {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
  }
  .categoria {
    height: 10rem;
  }
  .slides img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
  }
  .slides-productos {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .slides-productos img {
    width: 100%;
    object-fit: cover;
  }
}
.logo-producto{
  width: 7rem;
}
